In [1]:
import pandas as pd
import numpy as np
infile = 'Hospital_General_Information.csv'

In [2]:
hospital_df = pd.read_csv(infile)

In [3]:
hospital_df.head()

,Provider ID,Hospital Name,Address,City,State,ZIP Code,County Name,Phone Number,Hospital Type,Hospital Ownership,...,Readmission national comparison footnote,Patient experience national comparison,Patient experience national comparison footnote,Effectiveness of care national comparison,Effectiveness of care national comparison footnote,Timeliness of care national comparison,Timeliness of care national comparison footnote,Efficient use of medical imaging national comparison,Efficient use of medical imaging national comparison footnote,Location
0,10005,MARSHALL MEDICAL CENTER SOUTH,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,MARSHALL,2565938310,Acute Care Hospitals,Government - Hospital District or Authority,...,NaN,Same as the national average,NaN,Above the national average,NaN,Above the national average,NaN,Below the national average,NaN,"2505 U S HIGHWAY 431 NORTH BOAZ, AL 35957"
1,10012,DEKALB REGIONAL MEDICAL CENTER,200 MED CENTER DRIVE,FORT PAYNE,AL,35968,DE KALB,2568453150,Acute Care Hospitals,Proprietary,...,NaN,Below the national average,NaN,Same as the national average,NaN,Above the national average,NaN,Same as the national average,NaN,"200 MED CENTER DRIVE FORT PAYNE, AL 35968"
2,10131,CRESTWOOD MEDICAL CENTER,ONE HOSPITAL DR SE,HUNTSVILLE,AL,35801,MADISON,2568823100,Acute Care Hospitals,Proprietary,...,NaN,Below the national average,NaN,Same as the national average,NaN,Below the national average,NaN,Same as the national average,NaN,"ONE HOSPITAL DR SE HUNTSVILLE, AL 35801"
3,11304,CHOCTAW GENERAL HOSPITAL,"401 VANITY FAIR LANE, PO BOX 618",BUTLER,AL,36904,CHOCTAW,2054599100,Critical Access Hospitals,Voluntary non-profit - Private,...,Results are not available for this reporting p...,Not Available,There are too few measures or measure groups r...,Same as the national average,NaN,Same as the national average,NaN,Not Available,Results are not available for this reporting p...,"401 VANITY FAIR LANE, PO BOX 618 BUTLER, AL 36904"
4,20018,YUKON KUSKOKWIM DELTA REG HOSPITAL,PO BOX 287,BETHEL,AK,99559,BETHEL,9075436300,Acute Care Hospitals,Tribal,...,NaN,Below the national average,NaN,Same as the national average,NaN,Not Available,Results are not available for this reporting p...,Not Available,There are too few measures or measure groups r...,"PO BOX 287 BETHEL, AK 99559"

In [13]:
hosp_grp = hospital_df.groupby(['State','County Name'])[['Hospital Name']].count()

In [14]:
hosp.grp.head()

                               Hospital Name
State County Name
AK    ANCHORAGE                            3
      BETHEL                               1
      DILLINGHAM                           1
      FAIRBANKS NORTH STAR                 1
      JUNEAU                               1
      KENAI PENINSULA                      3
      KETCHIKAN GATEWAY                    1
      KODIAK ISLAND BOROUGH                1
      MATANUSKA-SUSITNA                    1
      NOME                                 1
      NORTHWEST ARTIC BOROUGH              1
      SITKA BOROUGH                        2
AL    AUTAUGA                              1
      BALDWIN                              3
      BARBOUR                              1
      BIBB                                 1
      BLOUNT                               1
      BULLOCK                              1
      BUTLER                               2
      CALHOUN                              3
      CHEROKEE                             1
      CHILTON                              1
      CHOCTAW                              1
      CLARKE                               2
      CLAY                                 1
      COFFEE                               1
      COLBERT                              2
      CONECUH                              1
      COVINGTON                            2
      CRENSHAW                             1
...                                      ...
WV    ROANE                                1
      SUMMERS                              1
      TAYLOR                               1
      TYLER                                1
      UPSHUR                               1
      WEBSTER                              1
      WETZEL                               1
      WOOD                                 1
WY    ALBANY                               1
      BIG HORN                             2
      CAMPBELL                             1
      CARBON                               1
      CONVERSE                             1
      CROOK                                1
      FREMONT                              1
      GOSHEN                               1
      HOT SPRINGS                          1
      JOHNSON                              1
      LARAMIE                              1
      LINCOLN                              2
      NATRONA                              3
      NIOBRARA                             1
      PARK                                 2
      PLATTE                               1
      SHERIDAN                             1
      SWEETWATER                           2
      TETON                                1
      UINTA                                1
      WASHAKIE                             1
      WESTON                               1

[2486 rows x 1 columns]

In [15]:
# Write to new CSV
hosp_grp.to_csv('Hospital_Count_by_County.csv')