In [2]:
import pandas as pd
import numpy as np
import scipy.stats as st
import sklearn as sk
infile = 'Source_Data/merged_counties_only+.csv'

In [3]:
county_df = pd.read_csv(infile)
county_df.head()

,Unnamed: 0,county,state,county_and_state_x,code,Deaths,Population,Crude Rate,fips,smoking,...,noinsurance,physicians,pollution,diabetes,county_and_state_y,code2,sunlight,blow,ganj,smack
0,0,Autauga,Alabama,"Autauga County, AL",1001.0,163.0,55416.0,294.1,1001.0,19.0,...,9.0,42.0,11.7,14.0,"Autauga County, AL",1001.0,17103.72,1.158,9.282,0.276
1,1,Baldwin,Alabama,"Baldwin County, AL",1003.0,640.0,208563.0,306.9,1003.0,17.0,...,11.0,73.0,10.3,11.0,"Baldwin County, AL",1003.0,17660.59,1.158,9.282,0.276
2,2,Barbour,Alabama,"Barbour County, AL",1005.0,90.0,25965.0,346.6,1005.0,22.0,...,13.0,39.0,11.5,18.0,"Barbour County, AL",1005.0,17315.13,1.158,9.282,0.276
3,3,Bibb,Alabama,"Bibb County, AL",1007.0,79.0,22643.0,348.9,1007.0,20.0,...,10.0,57.0,11.2,15.0,"Bibb County, AL",1007.0,16904.87,1.158,9.282,0.276
4,4,Blount,Alabama,"Blount County, AL",1009.0,199.0,57704.0,344.9,1009.0,20.0,...,12.0,23.0,11.7,14.0,"Blount County, AL",1009.0,16393.63,1.158,9.282,0.276

In [4]:
county_df['Crude Rate'] = county_df['Crude Rate'].astype('str')
county_df.head()

,Unnamed: 0,county,state,county_and_state_x,code,Deaths,Population,Crude Rate,fips,smoking,...,noinsurance,physicians,pollution,diabetes,county_and_state_y,code2,sunlight,blow,ganj,smack
0,0,Autauga,Alabama,"Autauga County, AL",1001.0,163.0,55416.0,294.1,1001.0,19.0,...,9.0,42.0,11.7,14.0,"Autauga County, AL",1001.0,17103.72,1.158,9.282,0.276
1,1,Baldwin,Alabama,"Baldwin County, AL",1003.0,640.0,208563.0,306.9,1003.0,17.0,...,11.0,73.0,10.3,11.0,"Baldwin County, AL",1003.0,17660.59,1.158,9.282,0.276
2,2,Barbour,Alabama,"Barbour County, AL",1005.0,90.0,25965.0,346.6,1005.0,22.0,...,13.0,39.0,11.5,18.0,"Barbour County, AL",1005.0,17315.13,1.158,9.282,0.276
3,3,Bibb,Alabama,"Bibb County, AL",1007.0,79.0,22643.0,348.9,1007.0,20.0,...,10.0,57.0,11.2,15.0,"Bibb County, AL",1007.0,16904.87,1.158,9.282,0.276
4,4,Blount,Alabama,"Blount County, AL",1009.0,199.0,57704.0,344.9,1009.0,20.0,...,12.0,23.0,11.7,14.0,"Blount County, AL",1009.0,16393.63,1.158,9.282,0.276

In [5]:
county_df['Crude Rate'] = county_df['Crude Rate'].map(lambda x: x.rstrip('()Unreliab '))
county_df.iloc[69,:]

Unnamed: 0                                    70
county                                Dillingham
state                                     Alaska
county_and_state_x    Dillingham Census Area, AK
code                                        2070
Deaths                                        11
Population                                  4954
Crude Rate                                 222.0
fips                                        2070
smoking                                       32
obesity                                       39
foodenv                                      4.7
exercise                                      79
noinsurance                                   21
physicians                                   262
pollution                                    NaN
diabetes                                      10
county_and_state_y                           NaN
code2                                        NaN
sunlight                                     NaN
blow                                       2.056
ganj                                       23.18
smack                                      0.806
Name: 69, dtype: object

In [6]:
county_df.iloc[65:80,:]

,Unnamed: 0,county,state,county_and_state_x,code,Deaths,Population,Crude Rate,fips,smoking,...,noinsurance,physicians,pollution,diabetes,county_and_state_y,code2,sunlight,blow,ganj,smack
65,65,Wilcox,Alabama,"Wilcox County, AL",1131.0,43.0,10986.0,391.4,1131.0,24.0,...,11.0,36.0,10.4,20.0,"Wilcox County, AL",1131.0,17309.28,1.158,9.282,0.276
66,66,Winston,Alabama,"Winston County, AL",1133.0,98.0,23805.0,411.7,1133.0,23.0,...,13.0,50.0,11.0,17.0,"Winston County, AL",1133.0,16462.53,1.158,9.282,0.276
67,68,Anchorage,Alaska,"Anchorage Borough, AK",2020.0,386.0,298192.0,129.4,2020.0,15.0,...,13.0,108.0,NaN,8.0,NaN,NaN,NaN,2.056,23.180,0.806
68,69,Bethel,Alaska,"Bethel Census Area, AK",2050.0,24.0,17968.0,133.6,2050.0,33.0,...,24.0,111.0,NaN,7.0,NaN,NaN,NaN,2.056,23.180,0.806
69,70,Dillingham,Alaska,"Dillingham Census Area, AK",2070.0,11.0,4954.0,222.0,2070.0,32.0,...,21.0,262.0,NaN,10.0,NaN,NaN,NaN,2.056,23.180,0.806
70,71,Fairbanks North Star,Alaska,"Fairbanks North Star Borough, AK",2090.0,123.0,100605.0,122.3,2090.0,18.0,...,14.0,77.0,NaN,6.0,NaN,NaN,NaN,2.056,23.180,0.806
71,72,Juneau,Alaska,"Juneau Borough, AK",2110.0,60.0,32468.0,184.8,2110.0,18.0,...,13.0,120.0,NaN,7.0,NaN,NaN,NaN,2.056,23.180,0.806
72,73,Kenai Peninsula,Alaska,"Kenai Peninsula Borough, AK",2122.0,129.0,58506.0,220.5,2122.0,19.0,...,18.0,73.0,NaN,8.0,NaN,NaN,NaN,2.056,23.180,0.806
73,74,Ketchikan Gateway,Alaska,"Ketchikan Gateway Borough, AK",2130.0,24.0,13746.0,174.6,2130.0,20.0,...,17.0,80.0,NaN,9.0,NaN,NaN,NaN,2.056,23.180,0.806
74,75,Matanuska-Susitna,Alaska,"Matanuska-Susitna Borough, AK",2170.0,154.0,104365.0,147.6,2170.0,19.0,...,16.0,47.0,NaN,8.0,NaN,NaN,NaN,2.056,23.180,0.806
75,76,Nome,Alaska,"Nome Census Area, AK",2180.0,24.0,9917.0,242,2180.0,36.0,...,22.0,91.0,NaN,8.0,NaN,NaN,NaN,2.056,23.180,0.806
76,77,North Slope,Alaska,"North Slope Borough, AK",2185.0,20.0,9606.0,208.2,2185.0,26.0,...,20.0,31.0,NaN,7.0,NaN,NaN,NaN,2.056,23.180,0.806
77,78,Northwest Arctic,Alaska,"Northwest Arctic Borough, AK",2188.0,19.0,7673.0,247.6,2188.0,33.0,...,24.0,65.0,NaN,9.0,NaN,NaN,NaN,2.056,23.180,0.806
78,79,Prince of Wales-Hyder,Alaska,"Prince of Wales-Hyder Census Area, AK",2198.0,17.0,6347.0,267.8,2198.0,23.0,...,24.0,79.0,NaN,10.0,NaN,NaN,NaN,2.056,23.180,0.806
79,80,Sitka,Alaska,"Sitka Borough, AK",2220.0,23.0,8830.0,260.5,2220.0,18.0,...,20.0,204.0,NaN,8.0,NaN,NaN,NaN,2.056,23.180,0.806

In [7]:
county_df.to_csv('Source_Data/merged_counties_xnote.csv')